header {
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid $black-light;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  list-style: none;

  display: flex;

  li {
    margin-left: 24px;
  }

  // esconder o menu no responsivo.
  @include responsive(s) {
    display: none;
  }
}

.logo {
  max-width: 64px;
  min-width: 48px;
}

.cta-desktop,
.search {
  display: block;

  // esconder o menu no responsivo.
  @include responsive(s) {
    display: none;
  }
}

.cta-mobile {
  display: none;

  // mostrar o menu no responsivo.
  @include responsive(s) {
    display: block;
  }
}

.menu-mobile {
  // dimensões para o menu pegar a tela inteira.
  width: 100%;
  height: 100vh;

  // posicionamento original do menu mobile.
  position: absolute;
  top: 0;
  left: -100%; // esconder o menu mobile.

  background-color: $black-normal;
  transition: 0.7s ease;

  li {
    border-bottom: 1px solid $black-light;

    .link-menu-mobile {
      display: inline-block;
      width: 100%;
      height: 100%;
      // aumentar a superficie clicável.
      padding: 24px 16px 24px 16px;

      &:hover {
        background-color: $black-light;
        // amplie os links para a esquerda. altere a ultima propriedade.
        padding: 24px 16px 24px 24px;
      }
    }
  }
}

.menu-mobile.showmenu {
  position: absolute;
  top: 0;
  left: 0;
}

// menu hamburguer
.bx {
  width: 40px;
  height: 40px;

  cursor: pointer;

  position: relative;

  display: none;

  // mostrar o menu (hamburguer) no responsivo.
  @include responsive(s) {
    display: block;
  }

  &::after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;

    position: absolute;
    top: 35%;
    left: 40%;

    // definir ponto de referencia no meio do elemento.
    transform: translate(-50%, -50%);

    border-radius: 2px;

    background-color: $white-light;
  }

  &::before {
    content: "";
    width: 70%;
    height: 2px;
    display: block;

    position: absolute;
    top: 65%;
    left: 60%;

    // definir ponto de referencia no meio do elemento.
    transform: translate(-50%, -50%);

    border-radius: 2px;

    background-color: $white-light;
  }
}

// menu hamburguer com classe 'active'.
.bx.active {
  &::after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;

    position: absolute;
    // altere o poscionamento para fomar um X.
    top: 50%;
    left: 50%;

    // aplique o 'rotate()' para criar animação.
    transform: translate(-50%, -50%) rotate(135deg);

    border-radius: 2px;

    background-color: $white-light;

    // animação para transição do simbolo do menu.
    transition: 0.6s ease;
  }

  &::before {
    content: "";
    width: 70%;
    height: 2px;
    display: block;

    position: absolute;
    // altere o poscionamento para fomar um X.
    top: 50%;
    left: 50%;

    // aplique o 'rotate()' para criar animação.
    transform: translate(-50%, -50%) rotate(-315deg);

    border-radius: 2px;

    background-color: $white-light;

    // animação para transição do simbolo do menu.
    transition: 0.6s ease;
  }
}
