@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

  /* Cores da Marca (Principais) */
  --blue-light: #5390e3;
  --blue: #1b69d2;
  --blue-dark: #1357b3;

  /* Preto/Branco */
  --white-light: #f7f9fc;
  --white: #e8ebf0;
  --white-dark: #d8dbe3;

  --black-light: #151b26;
  --black: #0f141f;
  --black-dark: #06090f;

  /* Cinza */
  --gray-1: #131414;
  --gray-2: #2b2b2c;
  --gray-3: #424344;
  --gray-4: #707070;
  --gray-5: #717274;
  --gray-6: #888a8c;
  --gray-7: #9ea0a3;

  /* Cores auxiliares */
  --red: #f03d3d;
  --green: #0bb07b;
  --yellow: #ffce52;

  /* Glass */
  --glass: rgba(6, 9, 15, 0.4);

  font-family: "Rubik", sans-serif;

  color: var(--white-light);
  background-color: var(--black-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-gradient {
  background: linear-gradient(
    225deg,
    var(--blue-light) 8.12%,
    var(--blue-dark) 92.21%
  );
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-height: 100vh;
}
body::-webkit-scrollbar {
  padding-right: 4px;
  width: 10px;
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--black-light);
}

/* Container customizado */
.custom-container {
  @apply container mx-auto my-0;
}

/* Mágica do Grid com Tailwind */
.invisible-grid {
  @apply hidden sm:block;
}