.custom-checkbox {
  position: relative;
  padding-left: 3.5rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Esconder checkbox do navegador */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Novo checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 25%;
  left: 1rem;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--black-light);
  border-radius: 0.25rem;
}

/* Quando o mouse está sobre o checkbox */
.custom-checkbox:hover input ~ .checkmark {
  border: 0.125rem solid var(--blue);
}
/* Quando o checkbox está desabilitado */
.custom-checkbox input:disabled ~ .checkmark {
  border: none;
  cursor: not-allowed;
  opacity: 0.5;
}

/* Quando o checkbox está marcado */
.custom-checkbox input:checked ~ .checkmark {
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-checkbox input:checked ~ .checkmark::after {
  content: "✔";
  font-size: 1rem; /* Ajuste o tamanho do símbolo conforme necessário */
  color: var(--white-light);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

