.custom-input {
  outline: none;
  transition: border-color 0.2s;
}

.custom-input:focus {
  border: 1px solid var(--red) !important; /* Borda vermelho quando em foco */
}

.custom-input:not(:placeholder-shown) {
  border: 1px solid var(--green) !important; /* Borda verde quando há algo digitado */
}
